<h3 class="sidebar-title">
  <span class="glyphicon glyphicon-search sidebartags" aria-hidden="true"></span><%= sidebar.title %>
</h3>
<div class="sidebar-body">
  <%= form_tag({:controller => 'articles',  :action => 'search'}, {:method => 'get', :id => 'sform'}) do %>
    <input class="search_input form-control" type="text" id="q" name="q" value="" />
    <button class="search_submit" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
  <% end %>
</div>