<% cache article do %>
    <% text = strip_tags(article.html(:body)) %>
    <div class="article-excerpt">
        <%= text[0..300] %>...
    </div>
    <%= link_to_permalink article, "Read More", "", "article-read-more-link" %>
<!--
    <%# if article.excerpt? %>
        <%#= article.excerpt %>
        <div class="extended">
            <p><%#= link_to_permalink article, t(".continue_reading") %></p>
        </div>
    <%# else %>
        <%#= raw article.html(:body) %>
        <%# if article.extended? %>
            <div class="extended">
                <p><%#= link_to_permalink article, t(".continue_reading") %></p>
            </div>
        <%# end %>
    <%# end %>
-->
<% end %>
